@use "../abstracts/" as *;

h2 {
    font-family: "Quintessential";
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    color: $yellow-medium;
}
.character-card {
    color: $main-dark;
    border: 2px solid #e92f3e;
    background-color: #e92f3f2d;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        text-transform: capitalize;
        font-weight: 800;
        border-bottom: 1px solid $main-dark;
        border-radius: 1rem;
    }
    &__hp-bar {
        height: 1.5rem;
        width: 70%;
        margin-top: 1rem;
        background: linear-gradient(to right, $main-dark, #0f9b0f);
        border-radius: 3rem;
        border: 1px solid $main-dark;
        transition: width 0.3s ease;
    }
}